{% extends 'WundermanLandingPageBundle::Abonnement/base.html.twig' %}

{% block content %}
    <div class="row">

        <div class="col-lg-12 bloc_global_abonnement">
            <div class="block_text_abonnement">

                <p style="font-weight: bold">
                    En voilà une bonne nouvelle <%= ctx.Personne.infosperso.@PER_PRE %> !
                </p>

                <p>
                    Nous vous disons donc <span style="font-weight: bold">à bientôt dans votre boite mail avec des newsletters pleines d’offres et d’inspiration</span>  et peut-être aussi <span style="font-weight: bold">un bon d’achat de 10€* !</span>
                </p>

                <p style="font-size: 10px">
                    <br>
                    <br>
                    <br>
                    *tous les 3 passages en caisse, si le montant des 3 est supérieur ou égal à 100€. Voir conditions en magasin et sur IKEA.fr
                </p>
            </div>
        </div>

        <div class="col-lg-12 ">
            <div class="bloc_button">
                <a href="http://www.ikea.com/fr/fr/" target="_blank" class="button">
                    Je fais un tour sur IKEA.fr &nbsp;&rtrif;
                </a>
            </div>
        </div>
    </div>
{% endblock %}